#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

.packages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.error {
  color: red;
}

#cloud {
  margin-top: 20px;
}

input {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: inherit;
}

input[type='number'] {
  width: 65px;
}

button {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: inherit;
  background-color: white;
  cursor: pointer;
}

#messages {
  max-height: 350px;
  overflow-y: scroll;
}

.message {
  margin: 8px;
  transition: all .2s;
}
.message-enter {
  opacity: 0;
  transform: translateY(-15px);
}
.message-leave-to {
  opacity: 0;
  transform: translateY(15px);
}
.message-leave-active {
  position: absolute;
}


.package {
  margin: 10px;
  transition: all 1s;
}

.package-enter, .package-leave-to {
  opacity: 0;
  transform: translateX(60px);
}


#github {
  margin: 50px;
}
